body
{
margin:0px;
padding:0px;
font-size:14px;
font-family: 'Open Sans', sans-serif;
}
ul 
{
padding:0px;	
}
li
{
	list-style:none;
}
a
{
	text-decoration:none;
	color:red;
}
a:hover, a:focus, a:active
{
	outline:0px;
}
img
{
	max-width:100%;
}
h1, h2, h3, h4, h5, h6
{
	color:black;
}
p 
{
	color:black;
}

.header
{
	background:blue;
	line-height:60px;
}
.header h1
{
	color:orange;
	
}
.header-content
{
	margin-top:25px;
}
.head-section
{
	text-align:center;
}
.head-section a
{
	display:block;
}
.head-section a:hover
{
	background:pink;
	color:yellow;
}
.slideimg1 img
{
	height:10px;
	
}
.right-info
{
	text-align:right;
}
.menu
{
	clear:both;
	background:lightyellow
}
.menu ul li{
	float:left;
	
}
.menu ul li a 
{
	display:block;
	padding:10px 25px;;
	color:black;
}
.menu ul li a:hover
{
	background:;
}


