body
{
    background:url(../img/image03.jpg);
    background-size: cover;
}
h1
{
  font-size: 75px;
  text-align: center;
  color: white;
  text-decoration: underline;
}
p
  {
      text-align: left;
}
.container
{
    background-color: white;
    padding:10px;
    height: fit-content;
    width: fit-content;
    margin: auto;
    
    float: center;

}
.button1 
{
  background:#05c6ff;
  font-size:18px;
  padding:9px;
  text-align:center;
  color:white;
  width:100px;
  border-radius:0px;
} 
.button2
 {
  background:#05c6ff;
  font-size:18px;
  padding:9px;
  text-align:center;
  color:white;
  width:100px;
  border-radius:0px;
} 

